<div id="tridiv mnw_button">
  <div class="scene" style="-webkit-transform:rotateX(-25deg) rotateY(-34deg); -moz-transform:rotateX(-25deg) rotateY(-34deg); -ms-transform:rotateX(-25deg) rotateY(-34deg); transform:rotateX(-25deg) rotateY(-34deg); ">
    <div class="shape cylinder-1 cyl-1">
      <div id='click'>click!</div>
      <div class="face bm">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.0509804);"></div>
      </div>

      <span id='txty'><%= t(:make_nashville_weird)%></span>
      <div id='tp_face' class="face tp">
        <div class="photon-shader"></div>
      </div>
      <div class="face side s0"><%= t(:e)%>
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.00784314);"></div>
      </div>
      <div class="face side s1"><%= t(:i)%>
        <div class="photon-shader" style="background-color: rgba(255, 255, 255, 0.0196078);"></div>
      </div>
      <div class="face side s2"><%= t(:r)%>
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.0431373);"></div>
      </div>
      <div class="face side s3"><%= t(:d)%>
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.0509804);"></div>
      </div>
      <div class="face side s4">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.266667);"></div>
      </div>
      <div class="face side s5">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.380392);"></div>
      </div>
      <div class="face side s6">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.494118);"></div>
      </div>
      <div class="face side s7">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.592157);"></div>
      </div>
      <div class="face side s8">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.623529);"></div>
      </div>
      <div class="face side s9">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.552941);"></div>
      </div>
      <div class="face side s10">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.0509804);"></div>
      </div>
      <div class="face side s11">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.333333);"></div>
      </div>
      <div class="face side s12">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.215686);"></div>
      </div>
      <div class="face side s13"><%= t(:w)%>
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.101961);"></div>
      </div>

       <div class="face side s13"><%= t(:w)%>
         <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.101961);"></div>
       </div>
      <div class="face bm bottom">
        <div class="photon-shader"></div>
      </div>


    </div>
  </div>
  </div>
  <%= audio_tag("click.mp3", controls: true) %>
  </body>
</html>
