<!DOCTYPE html>
<html>
<head>
  <title>MakeNashvilleWeird</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body id='body'>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <div class='container'>
    <%= yield %>
  </div>
  <footer id="footer">
    <p>Copyright <%= t(:company_name) %> &reg; 2012-<%= Time.now.year %></p>
  </footer>
</body>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</html>
